#video {
	position: : absolute;
    display: block;
    top: 0px;
    width: 100%;
    min-width: 1280px
    height: 750px;
    z-index: -1;


 

#name_heading{
	font: "Helvetica Neue",Helvetica,Arial,sans-serif;
	left: 50px;
}

#arrowdownoverlay {
	position: absolute;
	bottom: 0px;
}   

#blank_space{
	background-color: HoneyDew;
	top: 150px;
}

.headersocial {
	position: absolute;
	left: 20px;
}

/*#handspicture {
	position: absolute;
	padding: 10px, 5px, 5px, 10px;
	height:300px;
	bottom: 0px;
}*/

#roadpicture {
	position: absolute;
	height:300px;
	bottom: 300px;
}