
body {
 	overflow: scroll; 

}
nav {
	background-color: white;
	background: url('http://img04.deviantart.net/a1ba/i/2012/271/b/a/stock___watercolor_3_by_mayshing-d5g5nwm.jpg')
}

table, th, td {
	border: 50px white;

}


footer{
	background-color: white;
	padding-top: 50px;
}


/*body needs : overflow: scroll;*/



/*table for projects row/column 1 */
.Row1{
    width: 90%;
    border-spacing: 25px;
/*    padding-left: 9%;
    padding-right: 9%;*/
    padding-top:20%;
    max-width: 1000px;
}

.Column1{
    display: table-cell;
}


/* project line 2  (row and column 2) */

.Row{
    display: table;
    width: 90%;
    border-spacing: 20px;
 /*   padding-left: 9%;
    padding-right: 9%;*/
    padding-top:2%;
}

.Column{
    display: table-cell;
}


/*nav bar */
a:link{
	font-family: "Oswald",Helvetica,Arial,sans-serif;
	color: #979797;
}

a:visited{
	font-family: "Oswald",Helvetica,Arial,sans-serif;
	color: #979797;
}

.navbarnavbar-default{
	position:fixed;
	font:"Oswald", Helvetica, Arial, sans-serif;
	width:100px;
/*	background-color: rgba(255, 255, 255, 0.8);*/
	font-size: 1.125em;
	z-index: 11;
}
.navbarbrand{
	right:0px;
}

#verticalline{
	left:150px;
}

#hello{
	color:#181818;
	font-size: 2.2em;
	font-family: 'Cedarville Cursive', cursive;
	text-decoration: none;
}

#jumbotron_hello{
	background-color: white;
}

#video {
	position: : fixed;
    display: block;
    bottom: 50px;
    width: 90%;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
	max-width: 1200px;
    z-index: -1;
}

/*row 1 project */

#projects{
	font-family: 'Cedarville Cursive', cursive;
	color:#181818;
	opacity: .8;
	font-size: 2.2em;
/*	padding-left: 5em;*/
	margin-bottom: 20px;
/*	background-color: yellow;*/
}

.imageWrapper {
    position: relative;
    width: 300px;
    height: 300px;
}
.imageWrapper img {
 display: block;
}
.imageWrapper .cornerLink {
    opacity: 0;
    position: absolute;
    bottom: 40%;
    left: 0px;
    right: 0px;
    padding:40px 0 40px 0;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    
}

.imageWrapper:hover {
    opacity: 0.7;
}
.imageWrapper:hover .cornerLink {
    opacity: 1;
    background:rgba(0%,0%,0%,0.7)
}





/*-----------------*/
/*projects row 2 */

.imageWrapper1 {
    position: relative;
    width: 300px;
    height: 300px;

}
.imageWrapper1 img {
 display: block;
}
.imageWrapper1 .cornerLink1 {
    opacity: 0;
    position: absolute;
    bottom: 40%;
    left: 0px;
    right: 0px;
    padding:40px 0 40px 0;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    
}

.imageWrapper1:hover{ 
    opacity: 0.7;

}
.imageWrapper1:hover .cornerLink1 {
    opacity: 1;
    background:rgba(0%,0%,0%,0.7)
}

 
/* long image*/

/*need to fix hover over length*/
.imageWrapper1long {
    position: relative;
    width: 600px;
    height: 300px;
    padding-left: 15px
   z-index:10;
}
.imageWrapper1long img {
 display: block;
 background:rgba(9,9,9,0.6)
}
.imageWrapper1long .cornerLink1 {
    opacity: 0;
    position: absolute;
    bottom: 40%;
    left: 15px;
    right: 0px;
    padding:40px 0 40px 0;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms; 
}
.imageWrapper1long:hover{ 
    opacity: 0.7;
}

.imageWrapper1long:hover .cornerLink1 {
    opacity: 1;
    background:rgba(0%,0%,0%,0.7)
}


/*------------------*/


/*-----resume ----*/

#resume{
	opacity: .7;
	font-family: 'Open Sans', sans-serif;
	color:#181818;
}


#jumbotron_resume {
	background-color: white;
}


#resume_name{
	font-family: 'Cedarville Cursive', cursive;
	color:#181818;
	opacity: .8;
	font-size: 2.2em;
	margin-bottom: 20px;
}

#resume_list{
	width:90%;
}



/*-------------tech column --------*/
#technologies{
	color:#181818;
	font-weight: bold;
	padding-top: 1em;
	padding-left: 5em;
	font-size:1.3em;
	position:relative;
}

#tech_list2{
	margin-left: 5em;
}

#techdescription1{
	color:#181818;
	padding-left: 32em;
	margin-right: 10%;
	opacity: .8;
	font-family: 'Open Sans', sans-serif;	
}

#column2tech{
	list-style-type: none;
}

#column3tech{
	list-style-type: none;
}

/*-------------work experience column --------*/

#workExperience{
	padding-top: 10em;
	padding-left: 5em;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size:1.3em;	
	color:#181818;
}

#work1{
	text-decoration: none;
	color:#181818;
	opacity:.8;
	padding-left: 26em;
	padding-right: 45em;
	line-height: 0.6em;
	font-size: 1.3em;
	max-width: 33%;
	font-family: 'Open Sans', sans-serif;	
}

#work1_byline{
	text-decoration: none;
	color:#181818;
	padding-left: 34em;
	line-height: 0.6em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	opacity:.8;	

}

#work1place{
	text-decoration: none;
	color:#181818;
	padding-left: 34em;
	line-height: 0.6em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	opacity:.8;	
}

#workdescription1{
	text-decoration: none;
	color:#181818;
	padding-left: 34em;
	margin-right: 5%;
	opacity: .8;
	font-family: 'Open Sans', sans-serif;	
}

#work2{
	text-decoration: none;
	color:#181818;
	opacity:.8;
	font-size: 1.3em;	
	padding-top: 4em;
	padding-left: 26em;
	line-height: 0.6em;
	font-family: 'Open Sans', sans-serif;	
}

#work2_byline{
	text-decoration: none;
	color:#181818;
	padding-left: 34em;
	line-height: 0.6em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	opacity:.8;	
}

#work2place{
	text-decoration: none;
	color:#181818;
	padding-left: 34em;
	line-height: 0.6em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	opacity:.8;	
}

#workdescription2{
	text-decoration: none;
	color:#181818;
	padding-left: 34em;
	margin-right: 5%;
	opacity: .8;
	font-family: 'Open Sans', sans-serif;	
}


/*-------------education column --------*/
#education{
	padding-top: 2em;
	padding-left: 5em;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size:1.3em;	
	color:#181818;
}

#edu1{
	text-decoration: none;
	color:#181818;
	opacity:.8;
	padding-left: 26em;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;	
}

#edu1_byline{
	text-decoration: none;
	color:#181818;
	padding-left: 37.5em;
	line-height: 0.6em;
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	opacity:.8;	
}

#edu2{
	text-decoration: none;
	color:#181818;
	opacity:.8;
	padding-top: 2em;
	padding-left: 26em;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;	
}

#edu2_byline{
	text-decoration: none;
	color:#181818;
	padding-left: 37.5em;
	line-height: 0.6em;
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	opacity:.8;	
}



/*_____footer_____*/


#name_heading{
	font-family: 'Open Sans', sans-serif;
}

#backtotop {
	text-align: center;
	z-index: 1;
}   

