body {
	overflow: scroll;
	background-color: #FAFAEE;
}

nav {
	background-color: white;
}

aside{
	background-color: white;
}

a:link{
	font-family: "Oswald",Helvetica,Arial,sans-serif;
	color: #979797;
}

a:visited{
	font-family: "Oswald",Helvetica,Arial,sans-serif;
	color: #979797;
}

.navbarnavbar-default{
	font:"Oswald", Helvetica, Arial, sans-serif;
	text-align: left;
	background-color: #FBFBFB;
	font-size: 1.125em;
	z-index: 11;
}

.homeabout{
	top:0px;
	font:"helvetica neue", Helvetica, Arial, sans-serif;
	text-align: left;
	z-index: 11;
}

#welcomescribble{
	/*text-align: right;*/
	position: absolute;
	right: 25px;
	top:0px;
	z-index: 10;
}

 #welcome{
 	position: absolute;
 	color: darkgrey;
 	font-size: 20;
 	text-align: center;
 	right:25px;
 	font:"Oswald", Helvetica, Arial, sans-serif;
 	top: 110px;
 	z-index: 11;
 }

.headersocial {
	position: absolute;
	right: 155px;
	padding-bottom: 10px;

}

#video {
	position: : fixed;
    display: block;
    bottom: 50px;
    width: 100%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
	max-width: 1500px;
    z-index: -1;
}


#name_heading{
	font: "Helvetica Neue",Helvetica,Arial,sans-serif;
	left: 50px;
}

#arrowup {
	text-align: center;
	z-index: 1;
}   


.container{
	padding:0;
}
